# Sample Environment

DB_HOST=mp-dev-seoul-01.cxl7cxcrbzhm.ap-northeast-2.rds.amazonaws.com
DB_NAME=biz_development
DB_USER=root
DB_PASSWORD=qkrwlsgh1
DB_LOG_MODE=true
LOG_OUT=stdout
LOG_LEVEL=debug
STAT_LOG_OUT=stdout
STAT_LOG_LEVEL=debug

INSTAGRAM_CLIENT_SECRET=8bfa6cd77ad94a4cbcc5351489c723f8
INSTAGRAM_CLIENT_ID=22011e8fd6e34b88bac2f347230007bc
INSTAGRAM_AUTH_URL=https://api.instagram.com/oauth/authorize/?
INSTAGRAM_TOKEN_URL=https://api.instagram.com/oauth/access_token
INSTAGRAM_REDIRECT_URI=http://localhost:3000
INSTAGRAM_SCOPE=relationships+basic+follower_list+public_content
INSTAGRAM_RESPONSE_TYPE=code
